### Host variables
# Determine how many tasks bitbake should run in parallel:

BB_NUMBER_THREADS ?= "4"

# Determine how many processes make should run in parallel when running compile tasks:

PARALLEL_MAKE ?= "-j 4"

### System variables

DL_DIR ?= "/home/builder/yocto-downloads"

SSTATE_DIR = "${TOPDIR}/sstate-cache"

TMPDIR = "${TOPDIR}/tmp"

LICENSE_PATH += "${YOCTO_BASEDIR}/meta-neutrino-x86/custom-licenses"

PACKAGE_CLASSES ?= "package_ipk"

#SDKMACHINE ?= "i686"
SDKMACHINE = "x86_64"

DISTRO_FEATURES_LIBC_append = "x11 opengl pam ipv6"

DISTRO_FEATURES_append += "systemd"
VIRTUAL-RUNTIME_init_manager = "systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED = "sysvinit"
VIRTUAL-RUNTIME_initscripts = ""


USER_CLASSES ?= "buildstats image-mklibs"

PATCHRESOLVE = "noop"

PRSERV_HOST = "localhost:0"

DEFAULT_TIMEZONE = "Europe/Paris"

INHERIT += "rm_work"

### Disk Space Monitoring during the build

BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K" 



### Qemu configuration

PACKAGECONFIG_pn-qemu-native = "sdl"

ASSUME_PROVIDED += "libsdl-native"

CONF_VERSION = "1"


IMAGE_LINGUAS ?= "de-de en-us"
ENABLE_BINARY_LOCALE_GENERATION ?= "1"
GLIBC_GENERATE_LOCALES = "de_DE.UTF-8 en_US.UTF-8"
LOCALE_GENERATION_WITH_CROSS-LOCALEDEF = "1"

### Machine Selection

# This sets the default machine to be qemux86 if no other machine is selected. Possible values genericx86 or genericx86_64
MACHINE ?= "genericx86-64"
MULTILIBS = "multilib:lib32"
DEFAULTTUNE_virtclass-multilib-lib32 = "x86"

DISTRO = "poky"

### Image Settings

# Choose neutrino source. Possible values are "neutrino-hd" or "neutrino-mp"
NEUTRINO_FLAVOUR = "neutrino-mp"

USBIMAGE = "no"

# set initial passwort for user root. Keep empty for root:
ROOTPW = ""

# Choose which plugins should be installed 
PLUGIN_INSTALL += "msgbox tuxcom shellexec"

# Add Image Maintainer here
CREATOR = "builder"

# set your git account name
GIT_USER = "builder"

# set your email adress
MAIL = "builder@build.org"

# set your email password. it will be stored in /etc/msmtprc in cleartext (for now)
PASSWD = ""

# set your email provider. possible entries are: gmail, t-online, gmx, web.de, aol, mail.de, outlook
PROVIDER = "t-online"

# Web server from which packages and images are updated. Defaults to local folder on your cst harddrive.
IPK_FEED_SERVER = "file:////home/builder/poky/git/build/tmp/deploy/ipk"
IMAGE_LOCATION = "file:////home/builder/poky/git/build/tmp/deploy/images/genericx86-64"
RELEASE_TEXT_LOCATION = "" 
#RELEASE_TEXT_LOCATION_HOST = ""

# put your yt_dev_id here, if you need working youtube playback
YT_DEV_KEY = ""
# put your tmdb_dev_id here, if you want to receive additional movie information
TMDB_DEV_KEY = ""
# put your shoutcast_dev_id here, if you need shoutcast functionality
SHOUTCAST_DEV_KEY = ""

IMAGETYPE = "normal"

#PREFERRED_PROVIDER_linux-firmware = "firmware"
