#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: Make.config.template 4.1 2017/06/02 09:29:54 kls Exp $


CFLAGS = "-Wall"
CXXFLAGS = "-Wall"

### The directory environment:

# Default directories (adjust as necessary or desired):

  ### The directory environment:
PREFIX   = ${prefix}
BINDIR   = ${bindir}
INCDIR   = ${includedir}
LIBDIR   = ${libdir}/vdr
LOCDIR   = ${datadir}/locale
MANDIR   = ${mandir}
PCDIR    = ${libdir}/pkgconfig
RESDIR   = ${datadir}/vdr


VIDEODIR  = /home/builder/movies
CONFDIR   = ${sysconfdir}/vdr
ARGSDIR   = ${sysconfdir}/vdr/conf.d
CACHEDIR  = /var/cache/vdr
PLUGINDIR = "${libdir}/vdr"

# Overrides for preset/legacy configurations:

### The remote control:
LIRC_DEVICE = /var/run/lirc/lircd

### Define if you always want to use LIRC, independent of the --lirc option:
#REMOTE=LIRC

### Define if you don't want keyboard remote control:
#NO_KBD = 1

### Define if you want vdr to not run as root:
#VDR_USER = builder

### Define if you want to compile in 'bidi' support:
#BIDI = 1

### Define if you want 'systemd' notification:
#SDNOTIFY = 1

### Fallback for plugins with old makefiles:
ifdef PLUGIN
CFLAGS   += -fPIC
CXXFLAGS += -fPIC
endif
